*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin: 0;
  background-color: hsl(212, 45%, 89%);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: white;
}

.qr-container {
  padding: 1em;
}

.qr-img-contntainer {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.qr-description-container {
  margin: 0 auto;
  padding: 0 1rem;
}

.qr-header {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.4rem;
}

.qr-description {
  color: hsl(220, 15%, 55%);
  font-size: 1rem;
}
